[Unit]
Description=Congestion Prediction Service using Python Schedule
After=network.target

[Service]
# Replace with the actual user if different
User=ubuntu
# Replace with the actual group if different
Group=ubuntu

# Set the working directory to the project root
WorkingDirectory=/home/ubuntu/MLOps

# Command to execute the shell script
ExecStart=/home/ubuntu/MLOps/MLOps/app/services/run_congestion_service.sh

# Restart the service if it fails
Restart=always
RestartSec=10

# Standard output and error logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=congestion-service

[Install]
WantedBy=multi-user.target 